@import "/assets/fonts/fonts.css";

body {
  margin: 0;
  padding: 0;
  width: 1020px;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*Quote____________________________________________-*/

.quote {
  background: url("/assets/img/QuoteBg.png");
  border-bottom: 6px solid #ea676b;
}

.form-flex {
  display: flex;
}

.quote-inner {
  display: flex;
  flex-direction: column;
  padding-top: 59px;
}

.quote-title {
  font-size: 30px;
  font-weight: 900;
  color: #f0d8d9;
}

.quote-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #f0d8d9;
  line-height: 30px;

  margin-top: 18px;
}

.form {
  margin-top: 44px;
  padding-bottom: 64px;
  width: 620px;
}

.input-name {
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-stretch: extra-condensed;
  letter-spacing: 1px;
  word-spacing: -1px;
  color: rgb(0, 0, 0);
}

.input-name::placeholder {
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 15px;
}

.input-mail {
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 16px;
  color: rgb(0, 0, 0);
}

.input-mail::placeholder {
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 15px;
  font-stretch: extra-condensed;
  letter-spacing: 0.9px;
  word-spacing: -2px;
}

.input-subject {
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 16px;
  color: rgb(0, 0, 0);
}

.input-subject::placeholder {
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", serif;
  line-height: 21.5px;
  padding-left: 15px;
  font-stretch: extra-condensed;
  letter-spacing: -0.1px;
  word-spacing: -2px;
}

.input-textarea {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  resize: none;
  margin-top: 16px;
  border-radius: 5px;
  width: 619px;
  height: 202px;
  border: none;
  background-color: #d6564f;
}

.input-textarea::placeholder {
  color: #f48c8f;
  font-size: 12px;
  font-family: "Lato", serif;
  font-weight: 400;
  line-height: 21.5px;
  font-stretch: extra-condensed;
  letter-spacing: -0.1px;
  word-spacing: 0.3px;

  padding-top: 5px;
  padding-left: 13px;
}

.focus:focus {
  background-color: #f7cfcf;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.39);
}

.info {
  margin-top: 42px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 18px;
  font-weight: 900;
  color: #f0d8d9;
  letter-spacing: 0.1px;
}

.info-subtitle {
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  font-family: "Lato", se rif;
  margin-top: 8px;
  letter-spacing: 0.1px;
  word-spacing: -1.2px;
}

.contact-location {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", serif;
  color: #f0d8d9;
  margin-top: 25px;
  margin-left: 23px;

  letter-spacing: -0.2px;
  word-spacing: 0.2px;

  position: relative;
}

.contact-location::before {
  left: -20px;
  margin-top: 1px;
  position: absolute;
  content: url("/assets/img/location.png");
}

.contact-tel {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", serif;
  text-decoration: none;
  color: #f0d8d9;
  margin-top: 6px;
  margin-left: 23px;

  letter-spacing: -0.2px;
  word-spacing: 0.2px;

  position: relative;
}

.contact-tel::before {
  left: -22px;
  margin-top: 1px;
  position: absolute;
  content: url("/assets/img/phone.png");
}

.contact-email {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", serif;
  text-decoration: none;
  color: #f0d8d9;
  margin-top: 7px;
  margin-left: 23px;

  letter-spacing: -0.05px;

  position: relative;
}

.contact-email::before {
  left: -23px;
  margin-top: 1px;
  position: absolute;
  content: url("/assets/img/mail.png");
}


/*Quote_____________________________________________*/


/*Footer____________________________________________*/

.footer {
  background: url("/assets/img/footerBg.png");
}

.footer-inner{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.copyright {
  margin-top: 30px;
  margin-left: 1px;
  font-weight: 400;
  word-spacing: -.6px;
  color: #666d89;
  font-size: 12px;
}

.footer-social {
  display: flex;
  margin-top: 22px;
}

.footer-link {
  margin-left: 8px;
  transition: .2s linear;
}

.footer-link:hover {
  filter: sepia(100%);   
  -webkit-filter: blur(100%);
}